html
  head
    title= site.title
    <link rel="stylesheet" href="/admin/style.css" type="text/css">
    meta(name="description" content=site.description)
  body
    section.hero.is-primary
      .hero-body
        .container
          h1.title
            a(href="/")= site.title
          h2.subtitle= site.description
    div.section
      .container
        .columns
          .column.is-0-mobile.is-2-tablet.is-3-desktop
          .column.is-12-mobile.is-8-tablet.is-6-desktop
            each post in page.posts
              section.card.h-entry
                header.card-header
                  if post.title
                    p.card-header-title.p-name= post.title
                .card-content.e-content
                  .gallery
                    each attachment in post.assets
                      a(href=attachment.href)!= attachment.widget
                  if post.caption
                    br
                    .content!= post.caption
                footer.card-footer
                  p.card-footer-item.dt-published Posted #{post.englishDate}
                  p.card-footer-item
                    a(href=post.permalink) Permalink 🔗
              br
          .column.is-0-mobile.is-2-tablet.is-3-desktop

      if page.number
        footer.pagination
          a(href=page.links.previousPage disabled=!page.links.previousPage).pagination-previous Previous page
          a(href=page.links.nextPage disabled=!page.links.nextPage).pagination-next Next page
