<!DOCTYPE html>
html
  head
    title= site.title
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    style(type="text/css") .gallery{display:flex;text-align:center;justify-content:space-between;flex-direction:column}.gallery>*{flex:1 1 auto}
    <link type="application/atom+xml" rel="alternate" href="/atom.xml"/>
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon.png" />
    meta(name="description" content=site.description)
  body

    nav.navbar.has-shadow
      .container
        .navbar-brand
          a.navbar-item(href="/")
            img(src=site.avatar)
            span= site.title
          button.button.navbar-burger#burger
            span
            span
            span
        .navbar-menu#drawer
          .navbar-start
            a.navbar-item(href="/atom.xml") Atom Feed
            a.navbar-item.is-hidden(href='/admin') Admin
          .navbar-end
            if (site.metadata && site.metadata.featuredTags )
              .navbar-item Featured Tags:
              if (site.metadata && site.metadata.featuredTags )
                for tag in site.metadata.featuredTags
                  a.navbar-item.is-tab(href="/tag/"+tag class=tag==page.tag?"is-active":"")= _.capitalize(tag)

    section.hero.is-primary
      .hero-body
        .columns
          .column.is-0-mobile.is-2-tablet.is-3-desktop
          .column.is-12-mobile.is-8-tablet.is-6-desktop
            .media
              .media-left.centered
              .media-content
                nav.breadcrumb.is-medium
                  ul
                    li
                      a(href="/")= site.title
                    if page.tag
                      li
                        a(href=".")= _.capitalize(page.tag)
                    if page.number && page.number != 1
                      li
                        a(href="#")= page.number
                p!= site.description

    section.section
      .container
        .columns
          .column.is-0-mobile.is-2-tablet.is-3-desktop
          .column.is-12-mobile.is-8-tablet.is-6-desktop
            if page.posts.length == 0
              .content
                p Sorry, this page doesn't have any posts yet :(
            each post in page.posts
              section.card.h-entry
                header.card-header
                  if post.title
                    p.card-header-title.p-name= post.title
                .card-content.e-content
                  .gallery
                    each attachment in post.assets
                      span!= attachment.widget
                  if post.caption
                    br
                    .content!= post.caption
                footer.card-footer
                  p.card-footer-item
                    span
                      span.dt-published Posted #{post.englishDate}
                      if post.tags
                        span in
                          for tag in post.tags
                            a(href="/tag/"+tag)= ' '+tag
                  p.card-footer-item
                    a(href=post.permalink) Permalink
                    b.is-hidden &nbsp;&nbsp;&nbsp;
                    a(href='/admin/#post/edit?id='+post.id).is-hidden.button.is-warning âœ Edit
              br
          .column.is-0-mobile.is-2-tablet.is-3-desktop

    // pagination
    .container.section
      .pagination
        if page.number && (page.links.nextPage || page.links.previousPage)
          a(href=page.links.previousPage disabled=!page.links.previousPage).pagination-previous.button Previous
          a(href=page.links.nextPage disabled=!page.links.nextPage).pagination-next.button Next page
          if page.number
            ul.pagination-list
              if page.number >= 3
                li
                  a(href=page.links.firstPage).pagination-link= 1
              if page.number >= 4
                li
                  .pagination-ellipsis &hellip;
              if page.links.previousPage
                li
                  a(href=page.links.previousPage).pagination-link= page.number-1
              li
                a(href='#').pagination-link.is-current= page.number
              if page.links.nextPage
                li
                  a(href=page.links.nextPage).pagination-link= page.number + 1
              if page.number < site.pageCount - 2
                li
                  .pagination-ellipsis &hellip;
              if page.number < site.pageCount - 1
                li
                  a(href=page.links.lastPage).pagination-link= site.pageCount
    // footer
    footer.footer
      .container
        .content.has-text-centered
          p All content Â©
            strong #{site.authorName}
            |  #{new Date().getFullYear()}.
          p
            a(href="https://github.com/fenwick67/bumbler") Bumbler
            |  flat CMS by
            b  Drew Harwell

  // hamburger menu
  script(type="text/javascript") document.addEventListener("DOMContentLoaded",function(){document.getElementById('burger').addEventListener('click',function(){document.getElementById('drawer').classList.toggle('is-active');this.classList.toggle('is-active')})});
  // unhide stuff if user might be an admin
  script(type="text/javascript")!= "document.addEventListener('DOMContentLoaded',function(){if(!localStorage['admin']){return;}var els = document.querySelectorAll('.is-hidden');  if (!els){return};  for (var i = 0; i < els.length; i ++){els[i].classList.remove('is-hidden')}});"
