<!DOCTYPE html>
html
  head
    title= site.title + (page.isCustom?(' - '+page.customPage.title):"") + (page.tag?' - '+_.capitalize(page.tag):'')+ (page.isIndex?' - Home':'')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    style(type="text/css") .gallery{display:flex;text-align:center;justify-content:space-between;align-content:space-between;flex-wrap:wrap}.gallery>*{flex:1 1 auto; width:100%;}.posts{margin:0 auto;max-width:800px;}body,html{overflow-x:hidden}.post,.post-like{margin:20px;}.hide-scroll,footer{background:#fff}
    <link type="application/atom+xml" rel="alternate" href="/atom/feed.xml"/>
    <link rel="icon" type="image/png" href=href=site.avatar />
    meta(name="description" content=site.description)
  body

    // navbar
    nav.navbar.has-shadow
      .container
        .navbar-brand
          a.navbar-item(href="/")
            img(src=site.avatar)
            span= site.title
          button.button.navbar-burger#burger
            span
            span
            span
        .navbar-menu#drawer
          .navbar-start
            a.navbar-item(href="/atom.xml") Atom Feed
            a.navbar-item.is-hidden(href='/admin') Admin
          .navbar-end

    .hero.is-link.is-bold
      .hero-body
        .container
          .title(style='color:'+heroTextColor)= site.title
          p.is-size-4!= site.description
    //main
    .main
      section(style="padding:1em 0;background:#e6e6e6")
        .container.posts-container
          .posts

            if site.tags && !page.isCustom
              .post-like
                section.card
                  .card-content
                    .level.is-mobile
                      span.is-size-6 Tags:&nbsp;&nbsp;
                      .field.is-grouped.is-grouped-multiline
                        for tagInfo in site.tags
                          .control
                            a(href="/tag/"+tagInfo.name).tags.has-addons
                              .tag(class=(page.tag == tagInfo.name)?'is-link':'is-dark')= tagInfo.name
                              .tag= tagInfo.count
            if page.posts
              if page.posts.length == 0
                .content.is-large
                    p Sorry, this page doesn't have any posts yet :(
              each post in page.posts
                .post
                  section.card.h-entry
                    header.card-header
                      if post.title
                        p.card-header-title.p-name= post.title
                    if post.tags
                      div
                        p.card-header-title
                          span.tags
                            for tag in post.tags
                              a(href="/tag/"+tag).tag.is-dark= tag

                    .card-content.e-content
                      .gallery
                        each attachment in post.assets
                          span!= attachment.widget
                      if post.caption
                        br
                        .content.is-size-5!= post.caption
                    footer.card-footer
                      p.card-footer-item
                        span
                          span.dt-published #{post.englishDate}
                      p.card-footer-item
                        a(href=post.permalink) Permalink
                      p.card-footer-item.is-hidden
                        b.is-hidden &nbsp;&nbsp;&nbsp;
                        a(href='/admin/#post/edit?id='+post.id).is-hidden.button.is-link ✎ Edit
              if page.tag && (!page.links || !page.links.nextPage)
                .post
                  .section.card
                    p.card-content That's all for this tag. <a href="/">Back to all posts?</a>
            if page.isCustom
              .post-like
                .section.card
                  .card-content
                    .content!= page.customPage.content

    .hide-scroll
      // pagination
      .container.section
        .pagination
          if page.number && page.links && (page.links.nextPage || page.links.previousPage)
            a(href=page.links.previousPage disabled=!page.links.previousPage).pagination-previous.button Previous
            a(href=page.links.nextPage disabled=!page.links.nextPage).pagination-next.button Next page
            if page.number
              ul.pagination-list
                if page.number >= 3
                  li
                    a(href=page.links.firstPage).pagination-link= 1
                if page.number >= 4
                  li
                    .pagination-ellipsis &hellip;
                if page.links.previousPage
                  li
                    a(href=page.links.previousPage).pagination-link= page.number-1
                li
                  a(href='#').pagination-link.is-current= page.number
                if page.links.nextPage
                  li
                    a(href=page.links.nextPage).pagination-link= page.number + 1
                if page.number < site.pageCount - 2
                  li
                    .pagination-ellipsis &hellip;
                if page.number < site.pageCount - 1
                  li
                    a(href=page.links.lastPage).pagination-link= site.pageCount
  footer
    footer.section
      .container
        .content.has-text-centered
          p All content ©
            strong #{site.authorName}
            |  #{new Date().getFullYear()}.
          p
            a(href="https://github.com/fenwick67/bumbler") Bumbler
            |  flat CMS by
            b  Drew Harwell

  // infinite scroll:
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>

  // hamburger menu
  script(type="text/javascript") document.addEventListener("DOMContentLoaded",function(){document.getElementById('burger').addEventListener('click',function(){document.getElementById('drawer').classList.toggle('is-active');this.classList.toggle('is-active')})});

  // unhide stuff if user might be an admin
  script(type="text/javascript")!= "document.addEventListener('DOMContentLoaded',function(){if(!localStorage['admin']){return;}var els = document.querySelectorAll('.is-hidden');  if (!els){return};  for (var i = 0; i < els.length; i ++){els[i].classList.remove('is-hidden')}});"

  // infscroll
  if page.number == 1
    script(type="text/javascript") var infScroll = new InfiniteScroll( '.posts', {path:'.pagination-next',append:'.post',hideNav:'.hide-scroll'});
