<!DOCTYPE html>
html
  head
    title= site.title
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    style(type="text/css") .gallery{display:flex;text-align:center;justify-content:space-between;flex-direction:column}.gallery>*{flex:1 1 auto}
    <link type="application/atom+xml" rel="alternate" href="/atom.xml"/>
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon.png" />
    meta(name="description" content=site.description)
  body
    section.hero.is-primary
      .hero-body
        .columns
          .column.is-0-mobile.is-2-tablet.is-3-desktop
          .column.is-12-mobile.is-8-tablet.is-6-desktop
            .media
              .media-left.centered
                img(src=site.avatar).image.is-64x64
              .media-content
                h1.title
                  a(href="/")= site.title
                p= site.description
    .section
      .container
        .columns
          .column.is-0-mobile.is-2-tablet.is-3-desktop
          .column.is-12-mobile.is-8-tablet.is-6-desktop
            each post in page.posts
              section.card.h-entry
                header.card-header
                  if post.title
                    p.card-header-title.p-name= post.title
                .card-content.e-content
                  .gallery
                    each attachment in post.assets
                      span!= attachment.widget
                  if post.caption
                    br
                    .content!= post.caption
                footer.card-footer
                  p.card-footer-item.dt-published Posted #{post.englishDate}
                  p.card-footer-item
                    a(href=post.permalink) Permalink 🔗
              br
          .column.is-0-mobile.is-2-tablet.is-3-desktop

      if page.number
        footer.pagination
          a(href=page.links.previousPage disabled=!page.links.previousPage).pagination-previous.button.is-primary Previous page
          a(href=page.links.nextPage disabled=!page.links.nextPage).pagination-next.button.is-primary Next page
